# Scapping Data for 'Laptop' from Flipkart

In [3]:
import selenium
from selenium import webdriver

In [9]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [10]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [11]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Laptop')

In [12]:
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [13]:
URL=[]

In [14]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Laptop&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [15]:
print(len(URL))

697

In [16]:

URL2=[]

In [17]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [18]:
print(len(URL2))

417

In [19]:
RAT=[]
REV=[]

In [20]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [21]:

print(len(RAT),len(REV))

3866 3866

In [22]:

import pandas as pd

In [23]:
df=pd.DataFrame()

In [24]:
df['RATING']=RAT[:]
df['REVIEWS']=REV[:]

In [25]:
df

     RATING                                            REVIEWS
0         5  Its an absolute beast if u know what are the n...
1         5  This is the best laptop in this range.I reciev...
2         5  Good product as used of now.... Everything is ...
3         5  AWESOME LAPTOP. It supports many high spec gam...
4         4  For that price... it's exceptionally good. Pla...
...     ...                                                ...
3861      5                                              AwsmðŸ‘Œ
3862      4  Laptop was good but the display is bit wobble ...
3863      4     Speakers are not good else everything is good.
3864      5  Yes , go for it who ever wanted below 50k .\nF...
3865      5  Best laptop at this price compare to other brand.

[3866 rows x 2 columns]

In [26]:
df=df.assign(PRODUCT='Laptop')

In [27]:
df

     RATING                                            REVIEWS PRODUCT
0         5  Its an absolute beast if u know what are the n...  Laptop
1         5  This is the best laptop in this range.I reciev...  Laptop
2         5  Good product as used of now.... Everything is ...  Laptop
3         5  AWESOME LAPTOP. It supports many high spec gam...  Laptop
4         4  For that price... it's exceptionally good. Pla...  Laptop
...     ...                                                ...     ...
3861      5                                              AwsmðŸ‘Œ  Laptop
3862      4  Laptop was good but the display is bit wobble ...  Laptop
3863      4     Speakers are not good else everything is good.  Laptop
3864      5  Yes , go for it who ever wanted below 50k .\nF...  Laptop
3865      5  Best laptop at this price compare to other brand.  Laptop

[3866 rows x 3 columns]

In [28]:
df['RATING'].value_counts()

5    2431
4     983
1     221
3     155
2      76
Name: RATING, dtype: int64

In [29]:
dff=df[df.RATING=='5']

In [30]:
dff=dff.iloc[0:1200,:]

In [31]:

df.drop(df.index[df['RATING']=='5'], inplace=True)

In [32]:

df=pd.concat([df,dff],axis=0)

In [33]:
df.shape

(2635, 3)

In [34]:

driver.close()

# Scrapping Data for 'Phones' from flipkart

In [60]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [61]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [62]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Phones')

In [63]:
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [64]:
URL=[]

In [65]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [66]:
print(len(URL))

672

In [67]:
URL2=[]

In [68]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [69]:
print(len(URL2))

603

In [70]:
RAT=[]
REV=[]

In [71]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [72]:
df2=pd.DataFrame()

In [73]:
df2['RATING']=RAT[:]
df2['REVIEWS']=REV[:]

In [74]:
df2=df2.assign(PRODUCT='Phones')

In [75]:
df2

     RATING                                            REVIEWS PRODUCT
0         5  Great Phone at this Price point. Superb cool D...  Phones
1         4  Good mobile poco m3\nPros:\nFullhd display,\ns...  Phones
2         5  Good phone batteryðŸ”‹ And camera This price poin...  Phones
3         5  One word review " Value for Money"\nIt has the...  Phones
4         4  Sound quality super 3 type sound but camera se...  Phones
...     ...                                                ...     ...
5483      5                It are very hood phone in this rate  Phones
5484      1                                I'm not as expected  Phones
5485      5                                          Very good  Phones
5486      3                                             Nc fdb  Phones
5487      3                                               Good  Phones

[5488 rows x 3 columns]

In [76]:

df2['RATING'].value_counts()

5    3624
4    1233
3     300
1     224
2     107
Name: RATING, dtype: int64

In [77]:

dff=df2[df2.RATING=='5']

In [78]:

dff=dff.iloc[0:2000,:]

In [79]:

df2.drop(df2.index[df2['RATING']=='5'],inplace=True)

In [80]:

df2=pd.concat([df2,dff],axis=0)

In [81]:

df2.shape

(3864, 3)

In [82]:
driver.close()

# Scrapping data for 'Headphone' from flipkart

In [83]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [84]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [85]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Headphones')

In [86]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [87]:
URL=[]

In [88]:
for j in range(1,21):
    driver.get('https://www.flipkart.com/search?q=Headphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [89]:
print(len(URL))

760

In [90]:
URL2=[]

In [91]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [92]:
print(len(URL2))

682

In [93]:
RAT=[]
REV=[]

In [94]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [95]:
print(len(RAT),len(REV))

6687 6687

In [96]:
df3=pd.DataFrame()

In [97]:
df3['RATING']=RAT[:]
df3['REVIEWS']=REV[:]

In [105]:
df3

     RATING                                            REVIEWS     PRODUCT
0         3  Detailed review after 1 month of use\nBass qua...  Headphones
5         4  Reviewing after using 3 days.\n\nSound : So I'...  Headphones
10        4  I almost returned this as i couldn't get it to...  Headphones
12        4  No complaint about sound quality, it does the ...  Headphones
16        4  Very good product I loove it and bass boost + ...  Headphones
...     ...                                                ...         ...
1857      5  Omg!!! This headphone is just awesome!!! Super...  Headphones
1858      5  Super rich bass,perfectâ˜ºâ˜ºâ˜ºâ˜º\nDownload the Phil...  Headphones
1859      5  I recommend this to all of you. Really worth i...  Headphones
1860      5  It is quite good and used to......I bought it ...  Headphones
1861      5  This the sound monster. I didn't expect this m...  Headphones

[3483 rows x 3 columns]

In [98]:
df3=df3.assign(PRODUCT='Headphones')

In [99]:
df3['RATING'].value_counts()

5    4504
4    1113
1     473
3     390
2     207
Name: RATING, dtype: int64

In [100]:

dff=df3[df3.RATING=='5']

In [101]:

dff=dff.iloc[0:1300,:]

In [102]:
df3.drop(df3.index[df3['RATING']=='5'],inplace=True)

In [103]:
df3=pd.concat([df3,dff],axis=0)

In [104]:
df3.shape

(3483, 3)

In [ ]:
driver.close()

# Scrapping data for 'Smart watches' from flipkart

In [106]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [107]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [108]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Smart Watches')

In [109]:

#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [110]:
URL=[]

In [111]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Smart+Watches&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [112]:

print(len(URL))

696

In [113]:
URL2=[]

In [114]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [115]:
print(len(URL2))

253

In [116]:
RAT=[]
REV=[]

In [117]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [118]:
print(len(RAT),len(REV))

2251 2251

In [119]:
df4=pd.DataFrame()

In [120]:
df4['RATING']=RAT[:]
df4['REVIEWS']=REV[:]

In [121]:
df4

     RATING                                            REVIEWS
0         5                                         GOOD WATCH
1         5                                       Nice product
2         5   it is very nice product i have a nice expiriance
3         2                                            Not bat
4         1  Plz I am requesting you to not buy this watch....
...     ...                                                ...
2246      5                                                 Ok
2247      1               Lovely product,nice barmttery backup
2248      1              display is small and battery was poor
2249      1  very bad. it lasts only for 2-3 hours. poor ba...
2250      5  The watch is too good but battery extentvtime ...

[2251 rows x 2 columns]

In [122]:
df4=df4.assign(PRODUCT='Smart_phones')

In [123]:
df4['RATING'].value_counts()

5    985
1    619
4    232
2    212
3    203
Name: RATING, dtype: int64

In [124]:
driver.close()

# Scrapping Data for 'Professional Camera' from flipkart

In [125]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [126]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [127]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Professional Camera')

In [128]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [130]:
click2=driver.find_element_by_xpath("//a[@class='_2SqgSY']").click()

In [131]:
URL=[]

In [132]:
for j in range(1,5):
    driver.get('https://www.flipkart.com/cameras-accessories/cameras/pr?sid=jek%2Cp31&q=Professional+Camera&otracker=categorytree&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [133]:
print(len(URL))

96

In [134]:
URL2=[]

In [135]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [136]:
print(len(URL2))

37

In [137]:
RAT=[]
REV=[]

In [138]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [139]:
print(len(RAT),len(REV))

341 341

In [140]:
df5=pd.DataFrame()

In [141]:
df5['RATING']=RAT[:]
df5['REVIEWS']=REV[:]

In [143]:
df5=df5.assign(PRODUCT='Professional_Camera')

In [144]:
df5['RATING'].value_counts()

5    266
4     61
1      9
3      5
Name: RATING, dtype: int64

In [145]:
driver.close()

# Scrapping data for 'Printers' from flipkartÂ¶

In [146]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [147]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [148]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Printers')

In [149]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [150]:
URL=[]

In [151]:
for j in range(1,6):
    driver.get('https://www.flipkart.com/computers/computer-peripherals/printers-inks/printers/pr?sid=6bo%2Ctia%2Cffn%2Ct64&q=Printers&otracker=categorytree&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [152]:
print(len(URL))

154

In [153]:
URL2=[]

In [154]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [155]:
print(len(URL2))

96

In [156]:
RAT=[]
REV=[]

In [157]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [158]:
print(len(RAT),len(REV))

902 902

In [159]:
df6=pd.DataFrame()

In [160]:
df6['RATING']=RAT[:]
df6['REVIEWS']=REV[:]

In [162]:
df6=df6.assign(PRODUCT='Printers')

In [165]:
df6

    RATING                                            REVIEWS   PRODUCT
0        5  Great printer. The color reproduction on the p...  Printers
1        4  good priinter at the price\nbut as i expect in...  Printers
2        1  Not a very user friendly printer..Canon in thi...  Printers
3        5  It is very good Products and its printing qual...  Printers
4        4  printer works very well.. great quality... per...  Printers
..     ...                                                ...       ...
897      5  although there was delay in delivery due to co...  Printers
898      1  Recieved broken piece, good part is got the re...  Printers
899      5                                       Good product  Printers
900      4   good products... use one month and no more issue  Printers
901      5  good product, easy to install and use, very sl...  Printers

[902 rows x 3 columns]

In [163]:
df6['RATING'].value_counts()

5    510
4    204
1    108
3     52
2     28
Name: RATING, dtype: int64

In [164]:
driver.close()

# Scrapping data for 'Monitors' from Filpkart

In [166]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [167]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [168]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Monitors')

In [169]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [170]:
URL=[]

In [171]:
for j in range(1,12):
    driver.get('https://www.flipkart.com/search?q=Monitors&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [172]:
print(len(URL))

264

In [173]:
URL2=[]

In [174]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [175]:
print(len(URL2))

101

In [176]:
RAT=[]
REV=[]

In [177]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [178]:
print(len(RAT),len(REV))

913 913

In [179]:
df7=pd.DataFrame()

In [180]:
df7['RATING']=RAT[:]
df7['REVIEWS']=REV[:]

In [181]:
df7=df7.assign(PRODUCT='Monitors')

In [183]:
df7

    RATING                                            REVIEWS   PRODUCT
0        4  Very Good Product. Good Packaging.\nThe Dell q...  Monitors
1        4  4.5/5\n\nWow.. what a nice product\nI â¤ï¸ it.\n...  Monitors
2        5  Great product from Dell . It's budget friendly...  Monitors
3        5  Good product by Dell and Flipkart. It has both...  Monitors
4        4  Its a very good product... Good build quality....  Monitors
..     ...                                                ...       ...
908      5                                      Best products  Monitors
909      2                                  Very bad product.  Monitors
910      1  Internal sparking sounds came out when power s...  Monitors
911      4                     Good but delivery is very late  Monitors
912      4                        Good Product for it's value  Monitors

[913 rows x 3 columns]

In [184]:
df7['RATING'].value_counts()

5    596
4    180
3     54
1     53
2     30
Name: RATING, dtype: int64

In [185]:
driver.close()

# Scrapping data for 'Home theatre' from Filpkart

In [186]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [187]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [188]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Home theatre')

In [189]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [190]:
URL=[]

In [192]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Home+theatre&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [193]:
URL2=[]

In [194]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [195]:
RAT=[]
REV=[]

In [196]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [197]:
df8=pd.DataFrame()

In [198]:
df8['RATING']=RAT[:]
df8['REVIEWS']=REV[:]

In [199]:
df8=df8.assign(PRODUCT='Home_theatre')

In [200]:
df8

     RATING                                            REVIEWS       PRODUCT
0         5  Boss of all Bluetooth speaker..boommmmmm box.\...  Home_theatre
1         5  Awesome Product It's generate thump like separ...  Home_theatre
2         5  What an awesome product. Worth buying. I am lo...  Home_theatre
3         5  Super bass .\nSound quality super.\nBattery ba...  Home_theatre
4         5  Read so much , test so many !! Bose , Marshall...  Home_theatre
...     ...                                                ...           ...
4385      5  Awesome......I got it for 3550 in sale and m s...  Home_theatre
4386      4  giving review after 1yr of use...\n\nawesome p...  Home_theatre
4387      5  best product ,,i got in rs 2999/- ,,, Philips ...  Home_theatre
4388      5  Actually product is very good and having good ...  Home_theatre
4389      5  Excellent bass ... Blutooth is very fast. All ...  Home_theatre

[4390 rows x 3 columns]

In [201]:

df8['RATING'].value_counts()

5    2702
4     800
1     368
3     345
2     175
Name: RATING, dtype: int64

In [202]:
dff=df8[df8.RATING=='5']

In [203]:
dff=dff.iloc[0:1000,:]

In [204]:
df8.drop(df8.index[df8['RATING']=='5'], inplace=True)

In [205]:
df8=pd.concat([df8,dff],axis=0)

In [206]:
df8.shape

(2688, 3)

In [207]:
driver.close()

# Scrapping data for 'router' from Filpkart

In [208]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankit/chromedriver')

In [209]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [210]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('router')

In [211]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [212]:
URL=[]

In [213]:
for j in range(1,11):
    driver.get('https://www.flipkart.com/search?q=router&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [214]:
print(len(URL))

400

In [215]:

URL2=[]

In [216]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [217]:
print(len(URL2))

164

In [218]:
RAT=[]
REV=[]

In [219]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [220]:
print(len(RAT),len(REV))

1428 1428

In [221]:
df9=pd.DataFrame()

In [222]:
df9['RATING']=RAT[:]
df9['REVIEWS']=REV[:]

In [223]:
df9=df9.assign(PRODUCT='Router')

In [224]:
df9

     RATING                                            REVIEWS PRODUCT
0         5  This is the best WiFi router in this price ran...  Router
1         5  Just fabulous performance, i am very glad to c...  Router
2         5  If you want a router for medium sized Flat/hom...  Router
3         4  Does the job. It is good for 2 BHK home usage....  Router
4         5  Signal Strength is good... i said awesome... s...  Router
...     ...                                                ...     ...
1423      5                                               good  Router
1424      4                         Good product at this price  Router
1425      5                                             Ausome  Router
1426      3                                         Avarage ok  Router
1427      1                                           Not good  Router

[1428 rows x 3 columns]

In [225]:
df9['RATING'].value_counts()

5    814
4    267
1    168
3    118
2     61
Name: RATING, dtype: int64

In [226]:
dff=df9[df9.RATING=='5']

In [227]:
dff=dff.iloc[0:500,:]

In [228]:
df9.drop(df9.index[df9['RATING']=='5'], inplace=True)

In [229]:
df9=pd.concat([df9,dff],axis=0)

In [230]:
df9.shape

(1114, 3)

In [231]:

driver.close()

# Compilling data and saving it

In [232]:
new_df=pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)

In [233]:
new_df

    RATING                                            REVIEWS PRODUCT
1        4  Good mobile poco m3\nPros:\nFullhd display,\ns...  Laptop
4        4  Sound quality super 3 type sound but camera se...  Laptop
6        4  1. Phone is perfect but Camera it's not good.\...  Laptop
10       4  Good handy phone with decent performance. Good...  Laptop
12       4  Good product in perfect value of money. I thou...  Laptop
..     ...                                                ...     ...
827      5  I am using it in remote areas with BSNL sim ca...  Router
830      5  Good\nUsing Airtel sim network area 4g\nDownlo...  Router
832      5                                  Very nice product  Router
837      5  This product is perfect. You just need to figu...  Router
838      5  Super easy to set up even for a non tech perso...  Router

[19088 rows x 3 columns]

In [234]:
new_df['RATING'].value_counts()

5    8357
4    5540
1    2358
3    1860
2     973
Name: RATING, dtype: int64

In [235]:
df_shuffled=new_df.sample(frac=1).reset_index(drop=True)

In [236]:
df_shuffled

      RATING                                            REVIEWS       PRODUCT
0          1                            FM NOT WORKING PROPERLY  Home_theatre
1          3  Not that good from realme! The left one has mo...    Headphones
2          5                                  Very good product        Phones
3          5  Super Printer, it is worth buying and I got it...      Printers
4          4  I bought this phone before 2 months. I am writ...        Laptop
...      ...                                                ...           ...
19083      5                               Cover almost 4K sqft        Router
19084      1  Guys plz don't buy this product it's useless i...  Home_theatre
19085      4  Good Mobile . Battery backup is ok.Camera is A...        Laptop
19086      5  Received it today....fabulous product from bra...      Printers
19087      5  Best earphone at this price!!\nWire quality is...    Headphones

[19088 rows x 3 columns]

In [238]:
df_shuffled.to_csv('review.csv')